// Widescreens
@include mediaXl {
  /*
  */
}

// Desktops & Laptops
@include mediaLg {
  /*
  */
}

// Tablets & Small Laptops
@include mediaMd {
  * {
    overflow: visible;
  }
  header {
    .job-titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 0.5rem;
      border-bottom: 0.25rem #fff solid;

      .job-title {
        font-size: 1.5rem;
        width: 100vw;
      }
    }
  }
  main {
    .projects {
      flex-direction: column;
      align-items: center;
      &-1,
      &-2,
      &-3 {
        width: 80vw;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  /*
  */
}
