@import "config";
@import "menu";
@import "keyframes";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.text-secondary {
  color: $secondary-color;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin: 10px 0px;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

// BODY

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// HEADER

header {
  text-align: center;
  .name {
    font-size: 4rem;
    margin-top: 1rem;
  }
  .icon-set {
    font-size: 3rem;
    margin: 0 0;
  }

  .about-me-link {
    font-size: 3rem;
    padding: 1rem;
  }
  .job-titles {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: baseline;
    padding: 0.5rem;
    border-bottom: 3px #fff solid;
    .job-title {
      opacity: 1;
      width: 15%;
      &#about-me-title {
        font-size: 3rem;
        justify-content: baseline;
      }
      //job-title-current acts as a complement to the fade-in-partial class
      &.job-title-current {
        animation: fade-out-partial 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }
      &.fade-in-partial {
        animation: fade-in-partial 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
    }
  }
}

// MAIN
main {
  font-size: 2rem;
  .projects {
    display: flex;

    .project {
      padding: 1rem 1rem;
      margin-bottom: 3rem;

      &-img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      &-btn-github {
        @extend .btn;
        background: darken($primary-color, 60);
        color: #fff;
        margin: 10px 0px;
      }

      &-btn-details {
        @extend .btn;
        background: lighten($primary-color, 60);
        color: #111;
        margin: 10px 0px;
      }

      // https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
      // Ensures that a click anywhere on the element will fire events
      &-btn-details > * {
        pointer-events: none;
      }

      &-details {
        background: lighten($primary-color, 60);
        color: #111;
        font-size: 1.5rem;
        display: none;
        &.displayed {
          display: block;
        }
      }
    }
    &-1 {
      display: flex;
      flex-direction: column;
      width: 30%;
      opacity: 0;
      &.slide-in {
        animation: slide-in-from-right 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }
      &.slide-out {
        animation: slide-out-from-right 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
    }
    &-2 {
      width: 40%;
      opacity: 0;
      &.fade-in {
        animation: fade-in 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }
      &.fade-out {
        animation: fade-out 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
    }
    &-3 {
      display: flex;
      flex-direction: column;
      width: 30%;
      opacity: 0;
      &.slide-in {
        animation: slide-in-from-left 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }
      &.slide-out {
        animation: slide-out-from-left 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
    }

    &-2 {
      &-top {
        padding: 1rem 1rem;
        text-align: center;

        #projects-title {
          align-items: center;
          padding: 0.5rem 0rem;
          font-size: 3rem;
        }
        #projects-description {
          padding: 0.5rem 0rem;
        }
      }
      &-bottom {
        padding: 1rem 1rem;

        .skills {
          padding: 1rem 0rem;
          text-align: center;
          &-primary {
            color: #fff;
            font-size: 3rem;
          }
          &-secondary {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .about-me {
    text-align: center;
    //width: 100%;
    opacity: 0;
    &.fade-in {
      animation: fade-in 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
    &.fade-out {
      animation: fade-out 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }
  }
}

// DESIGN

.bordered {
  //@extend .bordered;
  border: 3px #fff solid;
  //border-style: none;
}

// MOBILE

@import "mobile";
